{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div style="padding:2rem; font-family: Arial, Helvetica, sans-serif;">
        <h1>{{ title }}</h1>
        <p>Welcome to the Payment API Symfony application.</p>
    </div>
{% endblock %}
